.search-wrapper {
  top: 40px;
}

.search-container {
  display: inline-flex;
  background-color: white;
  max-width: 500px;
  border-radius: 20px 50px 20px 50px;
  width: 80%;
  position: relative;
}

.search-input {
  flex: 1;
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  font-family: 'Vibur', cursive;
  color: #9b9b9b;
  border: none;
  border-radius: 20px 50px 20px 50px;
  background-color: inherit;
  outline: none;
  width: 100%;
}

.search-input:focus {
  box-shadow: none;
}

.search-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-button {
  background-color: #029094;
  position: absolute;
  right: 0; /* Au lieu de left: 130px */
  bottom: 0;
  border-radius: 20px 50px 20px 50px;
  width: 25%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Au lieu de 3em */
}

.btn-search {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  font-size: 1.5rem;
  color: white;
}

.layer_map {
  position: absolute;
  z-index: 0;
}
