<div class="navbar-bottom">
  <!-- Onglet Home -->
  <%= link_to root_path, class: (current_page?(root_path) ? "active" : "") do %>
    <i class="fas fa-home"></i>
    <span>Home</span>
  <% end %>

  <!-- Onglet Favoris -->
  <% if @foodtruck.present? %>
    <%= link_to foodtruck_favorites_path(foodtruck_id: @foodtruck.id), class: (current_page?(foodtruck_favorites_path(@foodtruck)) ? "active" : "") do %>
      <i class="fas fa-heart"></i>
      <span>Favoris</span>
    <% end %>
  <% else %>
    <!-- Placeholder ou gestion si pas de foodtruck -->
    <a href="#" class="disabled">
      <i class="fas fa-heart"></i>
      <span>Favoris</span>
    </a>
  <% end %>

<!-- Onglet Carte -->
<%= link_to foodtrucks_path, class: (current_page?(foodtrucks_path) ? "active" : "") do %>
  <i class="fas fa-map-marker-alt"></i>
  <span>Carte</span>
<% end %>

  <!-- Onglet Profil -->
  <%= link_to edit_user_registration_path, class: (current_page?(edit_user_registration_path) ? "active" : "") do %>
    <i class="fas fa-user"></i>
    <span>Profil</span>
  <% end %>
</div>
