<div class="navbar-bottom">
  <!-- Onglet Home -->
  <%= link_to root_path, class: (current_page?(root_path) ? "active" : "") do %>
    <i class="fas fa-home"></i>
  <% end %>

  <!-- Onglet Favoris -->
    <%= link_to favorites_path, class: (current_page?(favorites_path) ? "active" : "") do %>
      <i class="fas fa-heart"></i>
    <% end %>


<!-- Onglet Carte -->
<%= link_to foodtrucks_path, class: (current_page?(foodtrucks_path) ? "active" : "") do %>
  <i class="fas fa-map-marker-alt"></i>
<% end %>

  <!-- Onglet Profil -->
  <%= link_to dashboard_path, class: (current_page?(dashboard_path) ? "active" : "") do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>
