<div class="home-container" data-controller="home">

  <div class="home-background">
    <div class="home-content">
      <div class="home-logo">
        <%= image_tag 'logo-v1.png', alt: 'Trucks Radar' %>
      </div>

      <div class="container text-center my-5">
        <%= form_with url: foodtrucks_path, method: :get, local: true, class: "d-flex justify-content-center" do %>
          <!-- Zone de recherche -->
          <div class="search-container">
            <%= text_field_tag :query,
                params[:query],
                class: "form-control search-input",
                placeholder: "Ville, catégorie ou foodtruck...",
                data: { target: "home.searchInput", action: "input->home#search" } %>
          </div>

          <!-- Bouton de recherche avec icône -->
          <div class="search-button">
            <%= button_tag type: 'submit', class: "btn-search" do %>
              <i class="fas fa-search search-icon"></i> <!-- Icône de loupe -->
            <% end %>
          </div>

        <% end %>
      </div>

      <div class="home-title">
        <h1>Notre concept</h1>
        <div class="home-separator"></div>
      </div>
      <div class="home-text">
        <p>TrucksRadar vous permet de découvrir facilement les meilleurs foodtrucks autour de vous.</p>
      </div>
    </div>
  </div>
</div>
