
<div class="container">
<div class="row justify-content-center">
    <div class="col-sm-8 my-3">
Bouton pour ajouter aux favoris
<% if current_user.favorites.exists?(foodtruck: @foodtruck) %>
  <%= button_to "Retirer des favoris", foodtruck_favorite_path(@foodtruck, current_user.favorites.find_by(foodtruck: @foodtruck)), method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= button_to "Ajouter aux favoris", foodtruck_favorites_path(@foodtruck), method: :post, class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
