/* Styles spécifiques à la section avis */
.review-container {
  text-align: center;
  padding: 2rem;

  .review-title {
    font-size: 2rem;
    color: #029094;
    margin-bottom: 1.5rem;
  }

  .review-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;

    .review-comment {
      margin-bottom: 1rem;

      .review-comment-input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.5rem;
      }
    }

    .review-rating {
      margin-bottom: 1rem;

      .review-rating-stars {
        display: flex; /* Aligne les étoiles horizontalement */
        gap: 0.3rem; /* Espacement entre les étoiles */
      }

      .gl-star-rating--stars span.is-active,
      .gl-star-rating--stars span.gl-selected,
      .gl-star-rating--stars span.is-selected {
        color: #029094 !important; /* Couleur turquoise pour les étoiles sélectionnées */
        fill: #029094 !important; /* Support des SVG */
      }
    }

    .review-submit {
      text-align: right;

      .review-submit-button {
        background-color: #029094;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #026f72;
        }
      }
    }
  }
}
